:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 900;
  font-size: x-large;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  max-height: 100%
}
.hint {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.answer-section{
  padding: 1em 1.12em;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  transform: scale(0.8);
  display: flex;
  place-items: center;
  min-width: 50%;
  min-height: 50%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
button {
  border-radius: 100%;
  border: 0px solid transparent;
  margin-left: 1em;
  padding: 1em .65em;
  font-size: 1.7em;
  padding: 40px 30px;
  font-weight: 600;
  color: #ffffff;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #02031d;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;

}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dropdown {
  border-radius: 100%;
  /* border: 1px solid transparent; */
  margin-left: 15em;
  padding: .0em .65em;
  font-size: 1em;
  font-style: italic;
  padding: 0px 40px;
  font-weight: 600;
  color: #ffffff;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  position: relative;
  background-image: linear-gradient(to bottom right, white, #0437f2);
  color: #ffffff;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 100;
  background-color: #f9f9f9;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-image: linear-gradient(to bottom right, white, #0437f2);
  }

}
@media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    margin: 0px;
  }

  .container {
    width: 100%;
  }
}